<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/index">
        <img src="../../favicon.ico" alt="">
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="/index">首页</a></li>
        <li class=""><a href="/index">关于金时</a></li>
        <li class=""><a href="/index">产品和服务</a></li>
        <li class=""><a href="/index">典型客户</a></li>
        <li class=""><a href="/index">品牌中心</a></li>
        <li><a href="#">登录</a></li>
      </ul>
    </div>
  </div>
</nav>
