<header>
  <div class="container hidden-xs" [ngStyle]="headerStyle" style="padding: 1% 3%;position: absolute;right: 0;left: 0;z-index: 1030;margin-bottom: 0;">
    <div>
      <div>
        <div class="navbar-header">
          <div class="hidden-xs">
            <a class="" routerLink="/index">
              <img src="../../assets/images/logo.png" class="header-logo" title="返回首页" alt="金时征信">
            </a>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse clearfix">
        <ul class="nav navbar-nav navbar-right" style="padding-top: 10px;">
          <li routerLink="/index" routerLinkActive="active-index"><a class="color-black header-index">首页</a></li>
          <li routerLink="/about" routerLinkActive="active"><a class="color-black header-menu">关于金时</a></li>
          <li routerLink="/product" routerLinkActive="active" ><a class="color-black header-menu">产品和服务</a></li>
          <li routerLink="/customer" routerLinkActive="active"><a class="color-black header-menu">典型客户</a></li>
          <li class="login-li"><a href="http://biz.golden-era-credit.com" target="_blank" class="login-a">登录</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="container visible-xs header-bg-color">
    <div>
      <div>
        <div class="navbar-header">
          <div>
            <div>
              <a class="navbar-brand" style="height: 60px;" routerLink="/index">
                <img src="../../assets/images/logo.png" class="header-logo" title="返回首页" alt="金时征信">
              </a>
            </div>
            <button aria-controls="bs-navbar" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar" style="background-color: black"></span>
              <span class="icon-bar" style="background-color: black"></span>
              <span class="icon-bar" style="background-color: black"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse clearfix" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right main-nav" id="main-nav" style="text-align: center">
          <li routerLink="/index" routerLinkActive="active" class="header-index"><a class="color-black">首页</a></li>
          <li routerLink="/about" routerLinkActive="active" class="header-menu"><a class="color-black">关于金时</a></li>
          <li routerLink="/product" routerLinkActive="active" class="header-menu"><a class="color-black">产品和服务</a></li>
          <li routerLink="/customer" routerLinkActive="active" class="header-menu"><a class="color-black">典型客户</a></li>
          <li class="login-li" class="header-menu"><a href="http://biz.jdcszx.com" target="_blank" class="color-black-mobile">登录</a></li>
        </ul>
      </div>

    </div>
  </div>
</header>
