.footer-border {
  padding-top: 50px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}

@media (min-width: 768px) {
  .bs-docs-footer {
    text-align: left;
  }
}

.bs-docs-footer {
  padding: 50px 0;
}

.bs-docs-footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}

.copy-right {
  position: relative;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  color: black;
  font-family: 微软雅黑, sans-serif;
  padding: 30px 0;
}

.font-12 {
  font-size: 12px;
  padding: 20px 0 30px 0;
}

.my-footer {
  padding: 0;
  text-align: center;
}

.img-size {
  max-width: 50%;
  max-height: 50%;
}


@media (max-width: 768px) {
  .footer-border {
    padding-top: 10px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  }

  .copy-right {
    padding: 10px 0;
  }

  .font-12 {
    font-size: 12px;
    padding: 0;
  }
}
