<div>

  <div>
    <img src="../../../assets/images/about-1.png" alt="" style="max-width: 100%;">
  </div>

  <div class="container" style="padding: 60px 3em 0 3em">
    <div class="text-center font-color">
      <p style="font-size: 2em;margin: 0;">金时简介</p>
      <p>
        <span class="about-line"></span>
        <span class="about-line-text">Introduction</span>
        <span class="about-line">
        </span>
      </p>
    </div>
    <div class="row" style="margin-top: 1.5em;">
      <div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
          <div style="padding:0 2em 0 0;text-align: center">
            <img src="../../../assets/images/about-2.png" style="max-width: 100%;" alt="">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
          <p style="font-size: .9em;line-height: 1.5em;padding: 35px 0;">
            上海金电长时企业征信服务有限公司是一家依托于丰富的数据资源，专注于做企业征信的大数据公司。
            金时征信作为长江众创的子公司，成立于 2016 年 7 月，注册资本 5000 万人民币。致力于运用互联网、大数据
            技术，解决成长型中小企业与类金融机构、商业银行、产业链核心企业之间信息不对称问题，促进金融与产业高效融合。
            针对不同行业客户和不同应用场景，连身定做，为企业全方位、多维度、实时动态的绘制企业肖像，提供海量数据和智能化风险评价系统服务。
          </p>
        </div>
      </div>
    </div>

    <div style="padding-top: 50px;margin-top: 1.5em;position:relative;">
      <div class="text-center font-color" style="position: absolute;right: 0;left: 0;top:30%;}">
        <p style="font-size: 2em;margin: 0;">金时愿景</p>
        <p>
          <span class="about-line"></span>
          <span class="about-line-text">Vision</span>
          <span class="about-line">
          </span>
        </p>
        <p style="font-family:宋体;color: black; font-size: 1.3em;padding-top: 2%">致力于成为公信力卓越的数据驱动型征信服务平台</p>
      </div>
      <div style="padding-top: 1em;">
        <img src="../../../assets/images/about-3.png" style="max-width: 100%;" alt="">
      </div>
    </div>

    <div style="padding-top: 3.5em;">
      <div class="text-center font-color">
        <p style="font-size: 2em;margin: 0;">金时优势</p>
        <p>
          <span class="about-line"></span>
          <span class="about-line-text">Strength</span>
          <span class="about-line">
          </span>
        </p>
      </div>
      <div class="row" style="padding-top: 40px;">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="thumbnail" style="height: 405px;">
            <img src="../../../assets/images/1.png" class="img-zoom" style="max-width: 80%;" alt="">
            <div class="caption" style="padding-top: 30px;">
              <p class="text-center">深耕细分行业与场景</p>
              <p style="font-size: .8em;line-height: 1.5em;">
                深耕细分行业与场景，与多方平台机构、业内龙头企业达成战略合作。携手汇鸿浆纸、舟山交投等
                合作伙伴深耕供应链服务行业与供应链金融服务。
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="thumbnail" style="height: 405px;">
            <img src="../../../assets/images/2.png" class="img-zoom" style="max-width: 80%;" alt="">
            <div class="caption" style="padding-top: 30px;">
              <p class="text-center">海量数据源</p>
              <p style="font-size: .8em;line-height: 1.5em;">
                与知名第三方机构等开展合作，获取国家工商总局、公安、法院、司法等数据，拥有数量庞大、
                真实可靠的数据源，且具有更新性。
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="thumbnail" style="height: 405px;">
            <img src="../../../assets/images/3.png" class="img-zoom" style="max-width: 80%;" alt="">
            <div class="caption" style="padding-top: 30px;">
              <p class="text-center">跨行业专家顾问团</p>
              <p style="font-size: .8em;line-height: 1.5em;">
                集合了众多由大数据行业专家、高校学者、教授组成专家顾问团队，为金时征信提供技术和行业支持。
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
          <div class="thumbnail" style="max-height: 430px;">
            <img src="../../../assets/images/4.png" class="img-zoom" style="max-width: 80%;" alt="">
            <div class="caption" style="padding-top: 30px;">
              <p class="text-center">强大的股东优势</p>
              <p style="font-size: .8em;line-height: 1.5em;">
                股东长江众创作为国内领先的场景金融的智慧数据服务平台，利用自主研发的数据协同工作平台，
                提供"数据中央厨房"服务。同时作为供应链新金融联盟的发起单位之一，拥有丰富的大数据服务经验
                及客户集群，为金时征信提供丰富的资源支撑。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div style="margin: 3em 0">
      <div class="text-center font-color">
        <p style="font-size: 2em;margin: 0;">金时团队</p>
        <p>
          <span class="about-line"></span>
          <span class="about-line-text">Team</span>
          <span class="about-line">
          </span>
        </p>
      </div>
      <div class="row" style="padding-top: 40px;padding-bottom: 25px;">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left" style="padding: 0;">
          <div style="font-size: 1em;line-height: 1.5em;padding: 0 10px;">
            <p style="padding-top: 3em;font-size: 1.2em" class="font-color">核心团队</p>
            <p style="font-size: .8em;padding-bottom: 3em;">
              金时征信拥有一支经验丰富和强大战斗力的团队，我们的团队成员来自五湖四海，为了一个共同的梦想走到了
              一起。在这里，我们优势互补，不用担心自己想法的实施局限于自己的能力范围；在这里，我们各抒己见，每个
              想法都会得到团队中肯的意见；在这里，我们的工作收到应得的肯定，付出一定有回报！我们激情四射，但底蕴
              丰厚；我们活力无限，也同样耐得住寂寞；我们满怀希望，脚踏实地去实现；我们拥抱梦想，我们拒绝平庸！
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 0">
          <img src="../../../assets/images/about-5.png" style="max-width: 100%;max-height: 100%;" alt="">
        </div>
      </div>
    </div>

  </div>
</div>
