.font-color {
  color: rgb(76, 193, 244);
}

.about-team {
  height: 320px;
  background-image: url('../../../assets/images/about-4.png');
  max-width: 100%;
  background-size: 100% 100%, contain, 3em
}

.about-team-img {
  max-width: 100%;
  max-height: 100%;
}

.about-title {
  padding-top: 60px;
  font-size: 2em;
  margin: 0;
}

.about-line {
  height: 1px;
  width: 20%;
  background: rgba(76, 193, 244, 0.5);
  display: inline-block;
  vertical-align: middle;
}

.about-line-text {
  padding: 0 2em;
  color: rgba(76, 193, 244, 0.5);
}

.about-team-content {
  margin: 3em 0
}

.about-advantage-padding {
  padding: 40px 0 25px 0;
}

.team-advantage-div {
  line-height: 1.5em;
  padding: 0 10px;
}

.team-title {
  padding-top: 30px;
  font-size: 1.2em;
}

.team-summary {
  font-size: 14px;
  padding-bottom: 3em;
}

@media (max-width: 768px) {
  .about-title {
    padding-top: 10px;
  }

  .about-team-content {
    margin: 0;
  }

  .about-advantage-padding {
    padding-top: 10px;
  }

  .about-team-padding {
    margin: 20px 0;
  }

  .team-title {
    padding-top: 0;
    text-align: center;
  }

  .team-summary {
    padding-bottom: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .team-title {
    text-align: center;
  }
}
