.font-color {
  color: rgb(76, 193, 244);
}

.font-color-content {
  color: #333333;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.customer-img-1 {
  max-width: 100%;
}

.customer-img-four {
  max-width: 80%;
  max-height: 100%;
}

.customer-img-2 {
  max-width: 80%;
}

.customer-img-3 {
  max-width: 60%;
  max-height: 60%;
}

.customer-solution3-img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}

.solution-first-title {
  font-size: 2em;
  margin: 0;
  padding-top: 40px;
}

.customer-img-span {
  padding: 20px 0;
  color: #000;
}

.padding0 {
  padding: 0;
}

.border-none {
  border: none;
}

.customer-risk-padding {
  padding: 30px 0 50px 0;
}

.customer-risk-border {
  padding: 0;
  border: 1px solid rgb(174, 174, 174);
}

.customer-risk-img {
  max-width: 100%;
  max-height: 100%;
  height: 80%;
}

.customer-risk-text-padding {
  padding: 10px 10px 0 10px;
}

.risk-text-padding-left {
  padding: 0 1em 1em 2em;
}

.risk-text-padding-left > p {
  color: #000;
  text-align: left;
  font-size: 12px;
  line-height: 1.5em;
  padding: 0 30px;
}

.risk-text-padding-right {
  padding: 0 2em 1em 1em;
}

.risk-text-padding-right > p {
  color: #000;
  text-align: left;
  font-size: 12px;
  line-height: 1.5em;
  padding: 0 30px;
}

.customer-four-aspect-padding {
  padding: 1% 0;
}

.padding-aspect {
  padding-bottom: 70px;
}

.customer-solution2-padding {
  padding-top: 30px;
}

.customer-supplier-text-padding {
  padding-left: 3.5em;
}

.customer-supplier-content {
  line-height: 1.5em;
  color: rgb(171, 171, 171)
}

.customer-supplier-bg {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  opacity: 0.5;
  z-index: -20;
}

.customer-supplier-padding {
  padding: 5% 0;
}

.customer-supplier-line {
  line-height: 1.5em;
}

.customer-padding-top {
  padding-top: 30px;
}

.padding-solution3-top {
  padding-top: 2em;
}

.customer-supplier-outer {
  position: relative;
  padding-top: 20px;
}

.customer-supplier-inner {
  position: relative;
  border: 1px solid #39baf6;
  height: 100%;
  width: 98.5%;
}

.customer-supplier-inner-content {
  border: 1px solid #39baf6;
  left: 1.4%;
  top: 10px;
  position: relative;
  padding: 20px;
}

.solution-third-padding {
  padding: 80px 0 30px 0;
}

.padding-solution3 {
  padding: 5% 0;
}

.customer-solution3-content-1 {
  position: absolute;
  top: 45px;
  left: 65px;
}

.customer-solution3-content-2 {
  position: absolute;
  top: 140px;
  left: 65px;
}

@media (max-width: 768px) {
  .solution-first-title {
    font-size: 18px;
    padding-top: 10px;
  }

  .customer-img-span {
    padding: 0;
  }

  .customer-risk-padding {
    padding: 10px 0;
  }

  .customer-risk-text-padding {
    padding: 0;
  }

  .risk-text-padding-left > p {
    padding: 30px 0 20px 0;
  }

  .risk-text-padding-right > p {
    padding: 30px 0 15px 0;
  }

  .num-visible-xs {
    color: #39baf6;
    display: contents;
  }

  .customer-solution2-padding {
    padding-top: 0;
  }

  .customer-supplier-text-padding {
    padding-left: 10px;
  }

  .customer-supplier-content {
    color: #333333;
  }

  .customer-padding-top {
    padding-top: 10px;
  }

  .customer-supplier-outer {
    position: relative;
    padding-top: 0;
  }

  .solution-third-padding {
    padding: 30px 0 20px 0;
  }

}

@media (min-width: 768px) {
  .customer-supplier {
    padding: 10% 0 60px 0;
    color: #333333;
    width: 200%;
  }

  .num-visible-xs {
    display: none;
  }

}

.customer-line {
  height: 1px;
  width: 30%;
  background: rgba(76, 193, 244, 0.5);
  display: inline-block;
  vertical-align: middle;
}

.customer-line-text {
  padding: 0 2em;
  color: rgba(76, 193, 244, 0.5);
}
