<div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img src="../../../assets/images/index-remark.png" alt=""
           style="position: absolute;z-index: 12;top: 35%;left: 25%;right: 30%;width: 50%;">
      <img src="../../../assets/images/main.png" alt="" style="max-width: 100%;">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 index-credit-main">
      <div class="text-center index-credit-padding ">
        <p class="font-32" style="margin-bottom: 0;">征信服务</p>
        <p class="index-caption">Credit Service</p>
      </div>
      <div style="padding: 1% 10%;" class="img-zoom ">
        <a routerLink="/product" fragment="credit" title="征信服务">
          <img src="../../../assets/images/main2.png" alt="" title="征信服务" style="max-width: 100%;max-height: 80%;"></a>
      </div>

      <!--<div class="visible-xs" style="padding: 2% 10%;">-->
      <!--<a routerLink="/product">-->
      <!--<img src="../../../assets/images/main2-mobile.png" alt="" style="max-width: 100%;max-height: 80%;"></a>-->
      <!--</div>-->
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 index-item-main">
      <div class="index-consult-text">
        <div class="index-consult-text-margin">
          <div class="text-center">
            <p class="index-consult-title">咨询服务</p>
            <p>Consulting Service</p>
          </div>
        </div>
        <div class="index-credit-three-paragraph">
          <div class="row text-center">
            <a routerLink="/product" fragment="consult" title="咨询服务" style="color: #ffffff;">
              <div class="col-xs-4 col-sm-4 col-md-4 img-zoom">
                <span class="index-consult-num">01</span><br>
                <p class="font-18">信用风险评价体系建设咨询</p>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 img-zoom">
                <span class="index-consult-num">02</span><br>
                <p class="font-18">数据驱动型风险评价体系建设咨询</p>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4 img-zoom">
                <span class="index-consult-num">03</span><br>
                <p class="font-18">企业内部风控体系建设咨询</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 index-item-main4 index-item-drop-shadow">
      <div class="col-xs-12 text-center" style="padding: 50px 0 30px 0;">
        <p class="font-32">智能风险评价系统</p>
        <p class="index-caption">Intelligent Risk Assessment System</p>
      </div>

      <div class="hidden-xs index-risk-thumbnail-margin">
        <div class="row text-center index-risk-padding">

          <div class="col-xs-12 col-sm-4 col-md-4">
            <a routerLink="/product" fragment="risk" class="index-risk-a">
              <img src="../../../assets/images/index-41.png" title="智能风险评价系统" class="img-zoom index-risk-img" alt="">
              <div class="caption">
                <span class="font-18">行业与场景紧密相关</span>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <a routerLink="/product" fragment="risk" class="index-risk-a">
              <img src="../../../assets/images/index-42.png" title="智能风险评价系统" class="img-zoom index-risk-img" alt="">
              <div class="caption">
                <span class="font-18">专家经验与机器学习有机融合</span>
              </div>
            </a>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <a routerLink="/product" fragment="risk" class="index-risk-a">
              <img src="../../../assets/images/index-43.png" title="智能风险评价系统" class="img-zoom index-risk-img" alt="">
              <div class="caption">
                <span class="font-18">数据驱动智能评价</span>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="visible-xs">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner text-center" style="top: -30px;height:280px;" role="listbox">
            <div class="item active">
              <a routerLink="/product" fragment="risk" class="index-risk-a">
                <div>
                  <img src="../../../assets/images/index-41.png" alt="" class="index-slide-img">
                </div>
                <div class="carousel-caption">
                  <p style="color: #333333;">行业与场景紧密相关</p>
                </div>
              </a>
            </div>
            <div class="item">
              <a routerLink="/product" fragment="risk" class="index-risk-a">
                <div>
                  <img src="../../../assets/images/index-42.png" alt="" class="index-slide-img">
                </div>
                <div class="carousel-caption">
                  <p style="color: #333333;">专家经验与机器学习有机融合</p>
                </div>
              </a>
            </div>
            <div class="item">
              <a routerLink="/product" fragment="risk" class="index-risk-a">
                <div>
                  <img src="../../../assets/images/index-43.png" alt="" class="index-slide-img">
                </div>
                <div class="carousel-caption">
                  <p style="color: #333333;">数据驱动智能评价</p>
                </div>
              </a>
            </div>
          </div>

          <!-- Indicators -->
          <div>
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>
