<div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <img src="../../../assets/images/remark.png" alt=""
           style="position: absolute;z-index: 12;top: 35%;left: 30%;right: 30%;width: 50%;">
      <img src="../../../assets/images/main.png" alt="" style="width: 100%;float: right;">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div><h3 class="text-center">征信服务</h3></div>
      <div style="padding: 0 10%;">
        <img src="../../../assets/images/main2.png" alt="" style="width: 100%;">
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div><h3 class="text-center">咨询服务</h3></div>
      <img src="../../../assets/images/main3.png" alt="" style="width: 100%;">
      <div class="row text-center">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <span>01</span><br>
          <p>信用风险评价体系建设咨询</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <span>02</span><br>
          <p>数据驱动型风险评价体系建设咨询</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <span>03</span><br>
          <p>企业内部风控体系建设咨询</p>
        </div>
      </div>
    </div>

    <div class="index-item-main4">
      <div class="col-xs-12 text-center">
        <h3>智能风险评价系统</h3>
      </div>
      <div class="row text-center">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img src="../../../assets/images/1.png" alt="">
          <div class="caption">
            <h4>行业与场景紧密相关</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img src="../../../assets/images/2.png" alt="">
          <div class="caption">
            <h4>专家经验与机器学习有机融合</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img src="../../../assets/images/3.png" alt="">
          <div class="caption">
            <h4>数据驱动智能评价</h4>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
