.index-item-main3 {
  background-image: url("../../../assets/images/main3.png");
  background-size: 100% 100%, contain, 3em;
}

.index-item-main4 {
  width: 100%;
  max-height: 50%;
  background-image: url("../../../assets/images/main4-bg.png");
  background-size: 100% 100%, contain, 3em;
}

.index-consult-num {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 24px;
  font-style: italic;
  text-shadow: 1px 1px 5px rgb(76, 193, 244);
}

/*.img-zoom {*/
/*-webkit-transition: all 0.3s;*/
/*-moz-transition: all 0.3s;*/
/*-ms-transition: all 0.3s;*/
/*-o-transition: all 0.3s;*/
/*transition: all 0.3s;*/
/*}*/

/*.img-zoom:hover {*/
/*-webkit-transform: scale(1.1);*/
/*-moz-transform: scale(1.1);*/
/*-ms-transform: scale(1.1);*/
/*-o-transform: scale(1.1);*/
/*transform: scale(1.1);*/
/*}*/

.index-item-drop-shadow:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  filter: drop-shadow(1px 1px 5px blue)
}

.index-caption {
  font-size: 1em;
  color: rgb(181, 181, 181);
}
