.font-color {
  color: rgb(76, 193, 244);
}

.product-credit-font-size {
  padding: 0 20px;
  text-align: left;
  font-size: .8em;
  max-width: 100%;
}

.product-table-td {
  width: 20%;
  padding: 0;
  vertical-align: middle;
  border-top: none;
}

.product-line {
  height: 1px;
  width: 20%;
  background: rgba(76, 193, 244, 0.5);
  display: inline-block;
  vertical-align: middle;
}

.product-line-text {
  padding: 0 2em;
  color: rgba(76, 193, 244, 0.5);
}

.product-line-text-p {
  padding: 1% 10%;
  color: #000;
}
