<div>
  <div>
    <img src="../../../assets/images/product-1.png" alt="" style="max-width: 100%;">
  </div>
  <div class="container" style="padding: 1em 3em 0 3em">
    <div>
      <div class="text-center font-color">
        <p style="font-size: 2em;margin: 0;">征信服务</p>
        <p>
        <span
          style="height: 1px;width:20%;background: rgb(81,164,245);display:inline-block;vertical-align: middle;"></span>
          <span style="padding:0 2em;">Credit</span>
          <span
            style="height: 1px;width:20%;background: rgb(81,164,245);display:inline-block;vertical-align: middle;">
        </span>
        </p>
        <p style="padding: 1% 10%;color: #000;">
          金时征信依托于丰富的数据资源，专注于第三方企业征信服务。运用互联网、大数据技术，解决成长型中小企业
          与类金融机构、商业银行、产业链核心企业之间信息不对称问题。为客户提供企业身份识别、征信报告、反欺诈服务、
          关联图谱、风险监测等征信服务，促进金融与产业高效融合。
        </p>
      </div>
      <div style="padding: 1% 0">
        <img src="../../../assets/images/product-2.png" alt="" style="max-width: 100%;">
      </div>
    </div>

    <div>
      <div class="text-center font-color">
        <p style="font-size: 2em;margin: 0;">咨询服务</p>
        <p>
        <span
          style="height: 1px;width:20%;background: rgb(81,164,245);display:inline-block;vertical-align: middle;"></span>
          <span style="padding:0 2em;">Consultation</span>
          <span
            style="height: 1px;width:20%;background: rgb(81,164,245);display:inline-block;vertical-align: middle;">
        </span>
        </p>
        <p>
          金时征信运用线上大数据技术和线下专业评估模式，为金融机构、商业银行、产业链核心企业，提供多维度、全方位、
          全链条的信用风险管理服务和信息咨询服务。对目标对象对信用风险进行评估，帮助客户建立信用管理体系、完善信用
          交易流程、制定风险应对措施，最大程度地保障客户的商业利益、挖掘潜在商机。
        </p>
      </div>
      <div>

      </div>
    </div>

    <div>
      3
    </div>
  </div>
</div>
