<div>
  <div>
    <img src="../../../assets/images/product-1.png" alt="" class="product-img-bg">
  </div>
  <div class="container">
    <div class="credit-padding">
      <div class="text-center font-color">
        <p class="product-title">征信服务</p>
        <p>
          <span class="product-line"></span>
          <span class="product-line-text">Credit Service</span>
          <span class="product-line">
        </span>
        </p>
        <p class="product-line-text-p">
          金时征信依托于丰富的数据资源，专注于第三方企业征信服务。运用互联网、大数据技术，解决成长型中小企业与类金融机构、商业银行、产业链核心企业之间信息不对称问题。为客户提供企业身份识别、征信报告、反欺诈服务、关联图谱、风险监测等征信服务，促进金融与产业高效融合。
        </p>
      </div>

      <!--<div class="table-responsive text-center table-responsive-border hidden-xs">-->
      <!--<table class="table" style="margin-bottom: 0;">-->
      <!--<tr>-->
      <!--<td class="product-table-td">-->
      <!--<p>1.基本信息查询</p>-->
      <!--<p class="product-credit-font-size">实时查询，纯线上获取，输入企业名称即可查到该企业相关工商信息资料，方便快捷。</p>-->
      <!--</td>-->
      <!--<td class="product-table-td">-->
      <!--<img src="../../../assets/images/product-21.png" style="max-width: 100%;max-height: 100%" alt="">-->
      <!--</td>-->
      <!--<td class="product-table-td">-->
      <!--<p>3.经营地址信息核实</p>-->
      <!--<p class="product-credit-font-size">线上线下相结合，多种渠道验证核实，确保企业经营地址真实有效。</p>-->
      <!--</td>-->
      <!--<td class="product-table-td">-->
      <!--<img src="../../../assets/images/product-22.png" style="max-width: 100%;max-height: 100%" alt="">-->
      <!--</td>-->
      <!--<td class="product-table-td">-->
      <!--<p>5.涉黄涉赌涉毒核查</p>-->
      <!--<p class="product-credit-font-size">输入目标姓名，随时随地线上获取相关违纪经历，准确无误提供有效信息。</p>-->
      <!--</td>-->
      <!--</tr>-->
      <!--<tr>-->
      <!--<td class="product-table-td">-->
      <!--<img src="../../../assets/images/product-23.png" style="max-width: 100%;max-height: 100%" alt="">-->
      <!--</td>-->
      <!--<td class="product-table-td">-->
      <!--<p>2.资质荣誉</p>-->
      <!--<p class="product-credit-font-size">输入企业名实时获取相应资质证书、专利、商标、版权等及其内容。</p>-->
      <!--</td>-->
      <!--<td class="product-table-td">-->
      <!--<img src="../../../assets/images/product-24.png" style="max-width: 100%;max-height: 100%" alt="">-->
      <!--</td>-->
      <!--<td class="product-table-td">-->
      <!--<p>4.企业欠税核实</p>-->
      <!--<p class="product-credit-font-size">企业欠税信息线上获取，实时了解当前发生欠税信息及其内容，为您规避投资风险。</p>-->
      <!--</td>-->
      <!--<td class="product-table-td">-->
      <!--<img src="../../../assets/images/product-25.png" style="max-width: 100%;max-height: 100%" alt="">-->
      <!--</td>-->
      <!--</tr>-->
      <!--</table>-->
      <!--</div>-->

      <div class="text-center table-responsive-border hidden-xs">
        <div class="g-row">
          <div class="g-col">
            <p>1.基本信息查询</p>
            <p class="product-credit-font-size">实时查询，纯线上获取，输入企业名称即可查到该企业相关工商信息资料，方便快捷。</p>
          </div>
          <div class="g-col">
            <img src="../../../assets/images/product-21.png" class="g-col-img" alt="">
          </div>
          <div class="g-col">
            <p>3.经营地址信息核实</p>
            <p class="product-credit-font-size">线上线下相结合，多种渠道验证核实，确保企业经营地址真实有效。</p>
          </div>
          <div class="g-col">
            <img src="../../../assets/images/product-22.png" class="g-col-img" alt="">
          </div>
          <div class="g-col">
            <p>5.涉黄涉赌涉毒核查</p>
            <p class="product-credit-font-size">输入目标姓名，随时随地线上获取相关违纪经历，准确无误提供有效信息。</p>
          </div>
        </div>
        <div class="g-row">
          <div class="g-col">
            <img src="../../../assets/images/product-23.png" class="g-col-img" alt="">
          </div>
          <div class="g-col">
            <p>2.资质荣誉</p>
            <p class="product-credit-font-size">输入企业名实时获取相应资质证书、专利、商标、版权等及其内容。</p>
          </div>
          <div class="g-col">
            <img src="../../../assets/images/product-24.png" class="g-col-img" alt="">
          </div>
          <div class="g-col">
            <p>4.企业欠税核实</p>
            <p class="product-credit-font-size">企业欠税信息线上获取，实时了解当前发生欠税信息及其内容，为您规避投资风险。</p>
          </div>
          <div class="g-col">
            <img src="../../../assets/images/product-25.png" class="g-col-img" alt="">
          </div>
        </div>
      </div>

      <div class="visible-xs table-responsive-border">
        <div class="row text-center table-padding">
          <div class="col-xs-12">
            <p>1.基本信息查询</p>
            <p class="product-credit-font-size">实时查询，纯线上获取，输入企业名称即可查到该企业相关工商信息资料，方便快捷。</p>
            <img src="../../../assets/images/product-21.png" class="g-col-img" alt="">
          </div>
          <div class="col-xs-12 table-padding">
            <p>2.资质荣誉</p>
            <p class="product-credit-font-size">输入企业名实时获取相应资质证书、专利、商标、版权等及其内容。</p>
            <img src="../../../assets/images/product-22.png" class="g-col-img" alt="">
          </div>
          <div class="col-xs-12 table-padding">
            <p>3.经营地址信息核实</p>
            <p class="product-credit-font-size">线上线下相结合，多种渠道验证核实，确保企业经营地址真实有效。</p>
            <img src="../../../assets/images/product-23.png" class="g-col-img" alt="">
          </div>
          <div class="col-xs-12 table-padding">
            <p>4.企业欠税核实</p>
            <p class="product-credit-font-size">企业欠税信息线上获取，实时了解当前发生欠税信息及其内容，为您规避投资风险。</p>
            <img src="../../../assets/images/product-24.png" class="g-col-img" alt="">
          </div>
          <div class="col-xs-12 table-padding-final">
            <p>5.涉黄涉赌涉毒核查</p>
            <p class="product-credit-font-size">输入目标姓名，随时随地线上获取相关违纪经历，准确无误提供有效信息。</p>
            <img src="../../../assets/images/product-25.png" class="g-col-img" alt="">
          </div>
        </div>
      </div>

    </div>

    <div class="product-consult">
      <div class="text-center font-color">
        <p class="product-title">咨询服务</p>
        <p>
          <span class="product-line"></span>
          <span class="product-line-text">Consulting Service</span>
          <span class="product-line">
        </span>
        </p>
        <p class="product-line-text-p">
          金时征信运用线上大数据技术和线下专业评估模式，为类金融机构、商业银行、产业链核心企业，提供多维度、全方位、全链条的信用风险管理服务和信息咨询服务。对目标对象的信用风险进行评估，帮助客户建立信用管理体系、完善信用交易流程、制定风险应对措施，最大程度地保障客户的商业利益、挖掘潜在商机。
      </div>

      <div class="row text-center">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img src="../../../assets/images/product-31.png" alt="" class="product-consult-img">
          <div class="caption product-consult-caption">
            <span>信用风险评价体系建设咨询</span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img src="../../../assets/images/product-32.png" alt="" class="product-consult-img">
          <div class="caption product-consult-caption">
            <span>数据驱动型风险评价体系建设咨询</span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img src="../../../assets/images/product-33.png" alt="" class="product-consult-img">
          <div class="caption product-consult-caption">
            <span>企业内部风控体系建设咨询</span>
          </div>
        </div>
      </div>
      <div class="row text-center font-color" style="margin-top:10px;">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right: 0;">
          <svg version="1.1"
               baseProfile="full"
               width="100%" height="30"
               xmlns="http://www.w3.org/2000/svg">

            <line x1="0" y1="50%" x2="100%" y2="50%" style="stroke:rgb(174,174,174);stroke-width:1"></line>
            <circle cx="50%" cy="50%" r="7" fill="rgb(244,244,244)" stroke="rgb(76, 193, 244)" stroke-width="3"></circle>
          </svg>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding: 0;">
          <svg version="1.1"
               baseProfile="full"
               width="100%" height="30"
               xmlns="http://www.w3.org/2000/svg">

            <line x1="0" y1="50%" x2="100%" y2="50%" style="stroke:rgb(174,174,174);stroke-width:1"></line>
            <circle cx="50%" cy="50%" r="7" fill="rgb(244,244,244)" stroke="rgb(76, 193, 244)" stroke-width="3"></circle>
          </svg>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left: 0;">
          <svg version="1.1"
               baseProfile="full"
               width="100%" height="30"
               xmlns="http://www.w3.org/2000/svg">

            <line x1="0" y1="50%" x2="100%" y2="50%" style="stroke:rgb(174,174,174);stroke-width:1"></line>
            <circle cx="50%" cy="50%" r="7" fill="rgb(244,244,244)" stroke="rgb(76, 193, 244)" stroke-width="3"></circle>
          </svg>
        </div>
      </div>
      <div class="row text-center font-color" style="padding-bottom: 55px;">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-right: 0;">
          <span class="product-consult-font-size">01</span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <span class="product-consult-font-size">02</span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left: 0;">
          <span class="product-consult-font-size">03</span>
        </div>
      </div>
    </div>

    <div class="product-risk">
      <div class="text-center font-color">
        <p class="product-title">智能风险评价系统</p>
        <p>
          <span class="product-line"></span>
          <span class="product-line-text">Intelligent Risk Assessment System</span>
          <span class="product-line">
        </span>
        </p>
        <p class="product-line-text-p">
          金时征信依托于丰富的数据资源，基于大量历史数据，通过多维度的数据集成以及函数建模，采用机器学习的方法，形成数据驱动模型，针对不同行业客户和不同应用场景，自主研发了为企业提供全方位、多维度、交叉验证、实时动态的智能化风险评价系统。为互联网金融机构、供应链核心企业等客户建立符合监管要求的智能风险管理体系，减少审核成本、提高工作效率和保障风控质量。
        </p>
      </div>

      <div class="row text-center product-risk-padding">
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img src="../../../assets/images/product-41.png" alt="" class="product-consult-img">
          <div class="caption product-consult-caption">
            <span>行业与场景紧密关联</span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img src="../../../assets/images/product-42.png" alt="" class="product-consult-img">
          <div class="caption product-consult-caption">
            <span>专家经验与机器学习有机融合</span>
          </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <img src="../../../assets/images/product-43.png" alt="" class="product-consult-img">
          <div class="caption product-consult-caption">
            <span>数据驱动智能评价</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
